// Viewports

$desktopLarge: 2650px;
$desktopStandard: 1920px;
$tabletLarge: 1024px;
$tabletStandard: 768px;
$mobileLarge: 600px;
$mobileStandard: 500px;
$mobileSmall: 360px;

// Resets

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

ul {
	padding: 0;
}

img {
	display: block;
}

a {
	color: black;
	text-decoration: none;
}

// Flexbox

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

// Colors

$black: #000;
$white: #fff;

// Misc

html {
	scroll-behavior: smooth;
}

// @imports
